<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473236467785-nq74g4qaoitdukg52ujchqgq19krduba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473236467785-nq74g4qaoitdukg52ujchqgq19krduba</string>
	<key>API_KEY</key>
	<string>AIzaSyB2UoSYLbbEI7R3A9e3tnZL992Pd0_RVdA</string>
	<key>GCM_SENDER_ID</key>
	<string>473236467785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationLastSurprice</string>
	<key>PROJECT_ID</key>
	<string>stores-f56f1</string>
	<key>STORAGE_BUCKET</key>
	<string>stores-f56f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473236467785:ios:432d9a829a5535c197cf98</string>
</dict>
</plist>